<a href="https://colab.research.google.com/github/PawanKrGunjan/Python-Library/blob/main/BeautifulSoup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

from urllib.request import urlopen
from bs4 import BeautifulSoup
import re # for manupulating

In [2]:
url = "https://www.hubertiming.com/results/2018MLK"

In [3]:
html=urlopen(url).read()

In [4]:
soup = BeautifulSoup(html)

In [5]:
title = soup.title
print(title)
print(title.text)

<title>Race results for the 2018 MLK Dream Run!</title>
Race results for the 2018 MLK Dream Run!

In [6]:
links = soup.find_all("a")
links

[<a href="https://www.mlkdreamrun.com/" target="_blank">MLK Dream Run</a>,
 <a href="mailto:timing@hubertiming.com">timing@hubertiming.com</a>,
 <a href="https://www.hubertiming.com">Huber Timing Home</a>,
 <a class="btn btn-primary btn-lg" href="/results/2018MLK10K" role="button" style="margin: 0px 0px 5px 5px"><i aria-hidden="true" class="fa fa-user"></i> 10K</a>,
 <a class="btn btn-primary btn-lg" href="/results/2018MLK15K" role="button" style="margin: 0px 0px 5px 5px"><i aria-hidden="true" class="fa fa-user"></i> 15K</a>,
 <a class="btn btn-primary btn-lg" href="/results/summary/2018MLK" role="button" style="margin: 0px 0px 5px 5px"><i class="fa fa-stream"></i> Summary</a>,
 <a id="individual" name="individual"></a>,
 <a data-url="/results/2018MLK" href="#tabs-1" id="rootTab" style="font-size: 18px">5K Results</a>,
 <a href="https://www.hubertiming.com/"><img height="65" src="https://www.hubertiming.com//sites/all/themes/hubertiming/images/clockWithFinishSign_small.png" width="50"/>Huber Timing</a>,
 <a href="https://facebook.com/hubertiming/"><img src="https://www.hubertiming.com/results/FB-f-Logo__blue_50.png"/></a>,
 <a class="small" id="bestFeatureEver" style="color:#007bff">Dark Mode</a>]

In [7]:
links = soup.find_all("a", href = True)
for link in links:
    print(link["href"])

https://www.mlkdreamrun.com/
mailto:timing@hubertiming.com
https://www.hubertiming.com
/results/2018MLK10K
/results/2018MLK15K
/results/summary/2018MLK
#tabs-1
https://www.hubertiming.com/
https://facebook.com/hubertiming/

In [8]:
allrows = soup.find_all("tr")
print(allrows)

[<tr colspan="2">
<b>5K:</b>
</tr>, <tr>
<td>Finishers:</td>
<td>191</td>
</tr>, <tr>
<td>Male:</td>
<td>78</td>
</tr>, <tr>
<td>Female:</td>
<td>113</td>
</tr>, <tr class="header">
<th>Place</th>
<th>Bib</th>
<th>Name</th>
<th>Gender</th>
<th>Age</th>
<th>City</th>
<th>Chip Time</th>
<th>Chip Pace</th>
<th>Gender Place</th>
<th>Age Group</th>
<th>Age Group Place</th>
<th>Time to Start</th>
<th>Gun Time</th>
</tr>, <tr data-bib="1191">
<td>1</td>
<td>1191</td>
<td>

                    MAX RANDOLPH

                </td>
<td>M</td>
<td>29</td>
<td>WASHINGTON</td>
<td>16:48</td>
<td>5:25</td>
<td>

                    1 of 78

                </td>
<td>M 21-39</td>
<td>

                    1 of 33

                </td>
<td>0:08</td>
<td>16:56</td>
</tr>, <tr data-bib="1080">
<td>2</td>
<td>1080</td>
<td>

                    NEED NAME KAISER RUNNER

                </td>
<td>M</td>
<td>25</td>
<td>PORTLAND</td>
<td>17:31</td>
<td>5:39</td>
<td>

                    2 of 78

                </td>
<td>M 21-39</td>
<td>

                    2 of 33

                </td>
<td>0:09</td>
<td>17:40</td>
</tr>, <tr data-bib="1275">
<td>3</td>
<td>1275</td>
<td>

                    DAN FRANEK

                </td>
<td>M</td>
<td>52</td>
<td>PORTLAND</td>
<td>18:15</td>
<td>5:53</td>
<td>

                    3 of 78

                </td>
<td>M 40-54</td>
<td>

                    1 of 27

                </td>
<td>0:07</td>
<td>18:22</td>
</tr>, <tr data-bib="1223">
<td>4</td>
<td>1223</td>
<td>

                    PAUL TAYLOR

                </td>
<td>M</td>
<td>54</td>
<td>PORTLAND</td>
<td>18:31</td>
<td>5:58</td>
<td>

                    4 of 78

                </td>
<td>M 40-54</td>
<td>

                    2 of 27

                </td>
<td>0:07</td>
<td>18:38</td>
</tr>, <tr data-bib="1245">
<td>5</td>
<td>1245</td>
<td>

                    THEO KINMAN

                </td>
<td>M</td>
<td>22</td>
<td></td>
<td>19:31</td>
<td>6:17</td>
<td>

                    5 of 78

                </td>
<td>M 21-39</td>
<td>

                    3 of 33

                </td>
<td>0:09</td>
<td>19:40</td>
</tr>, <tr data-bib="1185">
<td>6</td>
<td>1185</td>
<td>

                    MELISSA GIRGIS

                </td>
<td>F</td>
<td>27</td>
<td>PORTLAND</td>
<td>19:39</td>
<td>6:20</td>
<td>

                    1 of 113

                </td>
<td>F 21-39</td>
<td>

                    1 of 53

                </td>
<td>0:07</td>
<td>19:46</td>
</tr>, <tr data-bib="1251">
<td>7</td>
<td>1251</td>
<td>

                    CHARLIE COGGESHALL

                </td>
<td>M</td>
<td>39</td>
<td>PORTLAND</td>
<td>19:51</td>
<td>6:24</td>
<td>

                    6 of 78

                </td>
<td>M 21-39</td>
<td>

                    4 of 33

                </td>
<td>0:10</td>
<td>20:01</td>
</tr>, <tr data-bib="1154">
<td>8</td>
<td>1154</td>
<td>

                    UNKNOWN RUNNER SEE TIMER

                </td>
<td>M</td>
<td></td>
<td></td>
<td>24:58</td>
<td>8:03</td>
<td>

                    7 of 78

                </td>
<td></td>
<td>

                    1 of 9

                </td>
<td>2:00</td>
<td>26:58</td>
</tr>, <tr data-bib="1163">
<td>9</td>
<td>1163</td>
<td>

                    UNKNOWN RUNNER SEE TIMER

                </td>
<td>M</td>
<td></td>
<td></td>
<td>25:01</td>
<td>8:04</td>
<td>

                    8 of 78

                </td>
<td></td>
<td>

                    2 of 9

                </td>
<td>1:59</td>
<td>27:00</td>
</tr>, <tr data-bib="1242">
<td>10</td>
<td>1242</td>
<td>

                    KIMONTI WILSON

                </td>
<td>F</td>
<td>48</td>
<td></td>
<td>25:01</td>
<td>8:04</td>
<td>

                    2 of 113

                </td>
<td>F 40-54</td>
<td>

                    1 of 37

                </td>
<td>1:59</td>
<td>27:00</td>
</tr>, <tr data-bib="1017">
<td>11</td>
<td>1017</td>
<td>

                    COREY MCMANUS

                </td>
<td>M</td>
<td>37</td>
<td>BEAVERTON</td>
<td>25:17</td>
<td>8:09</td>
<td>

                    9 of 78

                </td>
<td>M 21-39</td>
<td>

                    5 of 33

                </td>
<td>0:22</td>
<td>25:39</td>
</tr>, <tr data-bib="1112">
<td>12</td>
<td>1112</td>
<td>

                    MITCHELL JOHNSON

                </td>
<td>M</td>
<td>25</td>
<td>PORTLAND</td>
<td>25:31</td>
<td>8:13</td>
<td>

                    10 of 78

                </td>
<td>M 21-39</td>
<td>

                    6 of 33

                </td>
<td>0:15</td>
<td>25:46</td>
</tr>, <tr data-bib="1062">
<td>13</td>
<td>1062</td>
<td>

                    ALEX KABA

                </td>
<td>M</td>
<td>36</td>
<td>PORTLAND</td>
<td>25:31</td>
<td>8:14</td>
<td>

                    11 of 78

                </td>
<td>M 21-39</td>
<td>

                    7 of 33

                </td>
<td>0:14</td>
<td>25:45</td>
</tr>, <tr data-bib="1227">
<td>14</td>
<td>1227</td>
<td>

                    ROBYN MCGILLIS

                </td>
<td>F</td>
<td>44</td>
<td>PORTLAND</td>
<td>25:44</td>
<td>8:18</td>
<td>

                    3 of 113

                </td>
<td>F 40-54</td>
<td>

                    2 of 37

                </td>
<td>0:08</td>
<td>25:52</td>
</tr>, <tr data-bib="1067">
<td>15</td>
<td>1067</td>
<td>

                    MITCHELL WARDEN

                </td>
<td>M</td>
<td>29</td>
<td>PORTLAND</td>
<td>25:46</td>
<td>8:19</td>
<td>

                    12 of 78

                </td>
<td>M 21-39</td>
<td>

                    8 of 33

                </td>
<td>0:14</td>
<td>26:00</td>
</tr>, <tr data-bib="1136">
<td>16</td>
<td>1136</td>
<td>

                    JULIA METZ

                </td>
<td>F</td>
<td>32</td>
<td>PORTLAND</td>
<td>26:31</td>
<td>8:33</td>
<td>

                    4 of 113

                </td>
<td>F 21-39</td>
<td>

                    2 of 53

                </td>
<td>0:33</td>
<td>27:04</td>
</tr>, <tr data-bib="1199">
<td>17</td>
<td>1199</td>
<td>

                    JEREMY AREZZINI

                </td>
<td>M</td>
<td>38</td>
<td>LAKE OSWEGO</td>
<td>26:44</td>
<td>8:37</td>
<td>

                    13 of 78

                </td>
<td>M 21-39</td>
<td>

                    9 of 33

                </td>
<td>0:41</td>
<td>27:25</td>
</tr>, <tr data-bib="1252">
<td>18</td>
<td>1252</td>
<td>

                    ETHAN POWELL

                </td>
<td>M</td>
<td></td>
<td></td>
<td>26:52</td>
<td>8:40</td>
<td>

                    14 of 78

                </td>
<td></td>
<td>

                    3 of 9

                </td>
<td>0:11</td>
<td>27:03</td>
</tr>, <tr data-bib="1231">
<td>19</td>
<td>1231</td>
<td>

                    TIMOTHY KEARNEY

                </td>
<td>M</td>
<td>42</td>
<td>PORTLAND</td>
<td>26:58</td>
<td>8:42</td>
<td>

                    15 of 78

                </td>
<td>M 40-54</td>
<td>

                    3 of 27

                </td>
<td>0:11</td>
<td>27:09</td>
</tr>, <tr data-bib="1108">
<td>20</td>
<td>1108</td>
<td>

                    TIMOTHY RINGERING

                </td>
<td>M</td>
<td>50</td>
<td>VANCOUVER</td>
<td>27:02</td>
<td>8:43</td>
<td>

                    16 of 78

                </td>
<td>M 40-54</td>
<td>

                    4 of 27

                </td>
<td>0:10</td>
<td>27:12</td>
</tr>, <tr data-bib="1118">
<td>21</td>
<td>1118</td>
<td>

                    PONTUS JADERHOLM

                </td>
<td>M</td>
<td>43</td>
<td>PORTLAND</td>
<td>27:08</td>
<td>8:45</td>
<td>

                    17 of 78

                </td>
<td>M 40-54</td>
<td>

                    5 of 27

                </td>
<td>0:13</td>
<td>27:21</td>
</tr>, <tr data-bib="1246">
<td>22</td>
<td>1246</td>
<td>

                    KERRY FLAGG

                </td>
<td>M</td>
<td></td>
<td></td>
<td>27:10</td>
<td>8:45</td>
<td>

                    18 of 78

                </td>
<td></td>
<td>

                    4 of 9

                </td>
<td>0:10</td>
<td>27:20</td>
</tr>, <tr data-bib="1244">
<td>23</td>
<td>1244</td>
<td>

                    JARRED FLAGG

                </td>
<td>M</td>
<td></td>
<td></td>
<td>27:11</td>
<td>8:46</td>
<td>

                    19 of 78

                </td>
<td></td>
<td>

                    5 of 9

                </td>
<td>0:10</td>
<td>27:21</td>
</tr>, <tr data-bib="1224">
<td>24</td>
<td>1224</td>
<td>

                    KEN SKEEN

                </td>
<td>M</td>
<td>57</td>
<td>PORTLAND</td>
<td>27:12</td>
<td>8:46</td>
<td>

                    20 of 78

                </td>
<td>M 55+</td>
<td>

                    1 of 5

                </td>
<td>0:18</td>
<td>27:30</td>
</tr>, <tr data-bib="1065">
<td>25</td>
<td>1065</td>
<td>

                    SARA KOPTON

                </td>
<td>F</td>
<td>40</td>
<td>PORTLAND</td>
<td>27:27</td>
<td>8:51</td>
<td>

                    5 of 113

                </td>
<td>F 40-54</td>
<td>

                    3 of 37

                </td>
<td>0:20</td>
<td>27:47</td>
</tr>, <tr data-bib="1274">
<td>26</td>
<td>1274</td>
<td>

                    KAISER GUEST

                </td>
<td>F</td>
<td>40</td>
<td>PORTLAND</td>
<td>27:37</td>
<td>8:54</td>
<td>

                    6 of 113

                </td>
<td>F 40-54</td>
<td>

                    4 of 37

                </td>
<td>0:09</td>
<td>27:46</td>
</tr>, <tr data-bib="1208">
<td>27</td>
<td>1208</td>
<td>

                    JUSTIN PERZ

                </td>
<td>M</td>
<td>33</td>
<td>PORTLAND</td>
<td>27:39</td>
<td>8:55</td>
<td>

                    21 of 78

                </td>
<td>M 21-39</td>
<td>

                    10 of 33

                </td>
<td>0:38</td>
<td>28:17</td>
</tr>, <tr data-bib="1072">
<td>28</td>
<td>1072</td>
<td>

                    ESTELA SÁNCHEZ

                </td>
<td>F</td>
<td>41</td>
<td>PORTLAND</td>
<td>27:45</td>
<td>8:57</td>
<td>

                    7 of 113

                </td>
<td>F 40-54</td>
<td>

                    5 of 37

                </td>
<td>0:08</td>
<td>27:53</td>
</tr>, <tr data-bib="1018">
<td>29</td>
<td>1018</td>
<td>

                    JASON WILLIAMS

                </td>
<td>M</td>
<td>41</td>
<td>PORTLAND</td>
<td>27:50</td>
<td>8:58</td>
<td>

                    22 of 78

                </td>
<td>M 40-54</td>
<td>

                    6 of 27

                </td>
<td>0:23</td>
<td>28:13</td>
</tr>, <tr data-bib="1297">
<td>30</td>
<td>1297</td>
<td>

                    ADRIANA BRITTON

                </td>
<td>F</td>
<td>53</td>
<td>PORTLAND</td>
<td>27:54</td>
<td>9:00</td>
<td>

                    8 of 113

                </td>
<td>F 40-54</td>
<td>

                    6 of 37

                </td>
<td>0:12</td>
<td>28:06</td>
</tr>, <tr data-bib="1117">
<td>31</td>
<td>1117</td>
<td>

                    MARK WOOD

                </td>
<td>M</td>
<td>43</td>
<td>PORTLAND</td>
<td>28:05</td>
<td>9:03</td>
<td>

                    23 of 78

                </td>
<td>M 40-54</td>
<td>

                    7 of 27

                </td>
<td>0:30</td>
<td>28:35</td>
</tr>, <tr data-bib="1201">
<td>32</td>
<td>1201</td>
<td>

                    STEVE CRANDELL

                </td>
<td>M</td>
<td>61</td>
<td>PORTLAND</td>
<td>28:06</td>
<td>9:03</td>
<td>

                    24 of 78

                </td>
<td>M 55+</td>
<td>

                    2 of 5

                </td>
<td>0:09</td>
<td>28:15</td>
</tr>, <tr data-bib="1110">
<td>33</td>
<td>1110</td>
<td>

                    DARRELL KRIECHBAUM

                </td>
<td>M</td>
<td>53</td>
<td>PORTLAND</td>
<td>28:11</td>
<td>9:05</td>
<td>

                    25 of 78

                </td>
<td>M 40-54</td>
<td>

                    8 of 27

                </td>
<td>0:12</td>
<td>28:23</td>
</tr>, <tr data-bib="1104">
<td>34</td>
<td>1104</td>
<td>

                    JANICE JACOBS

                </td>
<td>F</td>
<td>55</td>
<td>SALEM</td>
<td>28:11</td>
<td>9:05</td>
<td>

                    9 of 113

                </td>
<td>F 55+</td>
<td>

                    1 of 14

                </td>
<td>0:15</td>
<td>28:26</td>
</tr>, <tr data-bib="1300">
<td>35</td>
<td>1300</td>
<td>

                    CORY ANDERSON

                </td>
<td>M</td>
<td>30</td>
<td>PORTLAND</td>
<td>28:14</td>
<td>9:06</td>
<td>

                    26 of 78

                </td>
<td>M 21-39</td>
<td>

                    11 of 33

                </td>
<td>0:19</td>
<td>28:33</td>
</tr>, <tr data-bib="1238">
<td>36</td>
<td>1238</td>
<td>

                    PAUL SUMMERS

                </td>
<td>M</td>
<td>24</td>
<td>PORTLAND</td>
<td>28:21</td>
<td>9:08</td>
<td>

                    27 of 78

                </td>
<td>M 21-39</td>
<td>

                    12 of 33

                </td>
<td>0:15</td>
<td>28:36</td>
</tr>, <tr data-bib="1298">
<td>37</td>
<td>1298</td>
<td>

                    ALEX NGUYEN

                </td>
<td>M</td>
<td>26</td>
<td></td>
<td>28:22</td>
<td>9:09</td>
<td>

                    28 of 78

                </td>
<td>M 21-39</td>
<td>

                    13 of 33

                </td>
<td>0:19</td>
<td>28:41</td>
</tr>, <tr data-bib="1157">
<td>38</td>
<td>1157</td>
<td>

                    JEREMY SWEET

                </td>
<td>M</td>
<td>27</td>
<td>PORTLAND</td>
<td>28:32</td>
<td>9:12</td>
<td>

                    29 of 78

                </td>
<td>M 21-39</td>
<td>

                    14 of 33

                </td>
<td>0:20</td>
<td>28:52</td>
</tr>, <tr data-bib="1106">
<td>39</td>
<td>1106</td>
<td>

                    DANIEL JOHNSTON

                </td>
<td>M</td>
<td>43</td>
<td>PORTLAND</td>
<td>28:32</td>
<td>9:12</td>
<td>

                    30 of 78

                </td>
<td>M 40-54</td>
<td>

                    9 of 27

                </td>
<td>0:12</td>
<td>28:44</td>
</tr>, <tr data-bib="1196">
<td>40</td>
<td>1196</td>
<td>

                    LIZANN DUNEGAN

                </td>
<td>F</td>
<td>53</td>
<td>PORTLAND</td>
<td>28:34</td>
<td>9:13</td>
<td>

                    10 of 113

                </td>
<td>F 40-54</td>
<td>

                    7 of 37

                </td>
<td>0:14</td>
<td>28:48</td>
</tr>, <tr data-bib="1239">
<td>41</td>
<td>1239</td>
<td>

                    ALYX WYNN

                </td>
<td>F</td>
<td>28</td>
<td>PORTLAND</td>
<td>28:37</td>
<td>9:14</td>
<td>

                    11 of 113

                </td>
<td>F 21-39</td>
<td>

                    3 of 53

                </td>
<td>0:21</td>
<td>28:58</td>
</tr>, <tr data-bib="1087">
<td>42</td>
<td>1087</td>
<td>

                    YALOUNDA HUNT

                </td>
<td>F</td>
<td>60</td>
<td>PORTLAND</td>
<td>28:40</td>
<td>9:14</td>
<td>

                    12 of 113

                </td>
<td>F 55+</td>
<td>

                    2 of 14

                </td>
<td>0:09</td>
<td>28:49</td>
</tr>, <tr data-bib="1068">
<td>43</td>
<td>1068</td>
<td>

                    SERGIO RIVERA

                </td>
<td>M</td>
<td>32</td>
<td>PORTLAND</td>
<td>28:41</td>
<td>9:15</td>
<td>

                    31 of 78

                </td>
<td>M 21-39</td>
<td>

                    15 of 33

                </td>
<td>0:21</td>
<td>29:02</td>
</tr>, <tr data-bib="1071">
<td>44</td>
<td>1071</td>
<td>

                    PEDRO FLORES

                </td>
<td>M</td>
<td>42</td>
<td>PORTLAND</td>
<td>28:42</td>
<td>9:15</td>
<td>

                    32 of 78

                </td>
<td>M 40-54</td>
<td>

                    10 of 27

                </td>
<td>0:08</td>
<td>28:50</td>
</tr>, <tr data-bib="1159">
<td>45</td>
<td>1159</td>
<td>

                    JEFF DOWNEY

                </td>
<td>M</td>
<td>36</td>
<td>PORTLAND</td>
<td>28:42</td>
<td>9:15</td>
<td>

                    33 of 78

                </td>
<td>M 21-39</td>
<td>

                    16 of 33

                </td>
<td>0:19</td>
<td>29:01</td>
</tr>, <tr data-bib="1241">
<td>46</td>
<td>1241</td>
<td>

                    NICK SCHUDER

                </td>
<td>M</td>
<td>44</td>
<td>PORTLAND</td>
<td>28:45</td>
<td>9:16</td>
<td>

                    34 of 78

                </td>
<td>M 40-54</td>
<td>

                    11 of 27

                </td>
<td>0:18</td>
<td>29:03</td>
</tr>, <tr data-bib="1023">
<td>47</td>
<td>1023</td>
<td>

                    JOHN GARDNER

                </td>
<td>M</td>
<td>44</td>
<td>PORTLAND</td>
<td>28:51</td>
<td>9:18</td>
<td>

                    35 of 78

                </td>
<td>M 40-54</td>
<td>

                    12 of 27

                </td>
<td>0:25</td>
<td>29:16</td>
</tr>, <tr data-bib="1253">
<td>48</td>
<td>1253</td>
<td>

                    JAZMIN BEMBRY

                </td>
<td>F</td>
<td>23</td>
<td>PORTLAND</td>
<td>28:56</td>
<td>9:20</td>
<td>

                    13 of 113

                </td>
<td>F 21-39</td>
<td>

                    4 of 53

                </td>
<td>0:15</td>
<td>29:11</td>
</tr>, <tr data-bib="1247">
<td>49</td>
<td>1247</td>
<td>

                    THEO KINWAN

                </td>
<td>F</td>
<td></td>
<td></td>
<td>29:09</td>
<td>9:24</td>
<td>

                    14 of 113

                </td>
<td></td>
<td>

                    6 of 9

                </td>
<td>0:10</td>
<td>29:19</td>
</tr>, <tr data-bib="1019">
<td>50</td>
<td>1019</td>
<td>

                    ERIKA TURNEY

                </td>
<td>F</td>
<td>46</td>
<td>BATTLE GROUNDB</td>
<td>29:10</td>
<td>9:24</td>
<td>

                    15 of 113

                </td>
<td>F 40-54</td>
<td>

                    8 of 37

                </td>
<td>0:24</td>
<td>29:34</td>
</tr>, <tr data-bib="1066">
<td>51</td>
<td>1066</td>
<td>

                    MICHELLE FRAZIER

                </td>
<td>F</td>
<td>27</td>
<td>PORTLAND</td>
<td>29:12</td>
<td>9:25</td>
<td>

                    16 of 113

                </td>
<td>F 21-39</td>
<td>

                    5 of 53

                </td>
<td>0:13</td>
<td>29:25</td>
</tr>, <tr data-bib="1151">
<td>52</td>
<td>1151</td>
<td>

                    CHRISTINA LECHER

                </td>
<td>F</td>
<td>31</td>
<td>MILWAUKEE</td>
<td>29:21</td>
<td>9:28</td>
<td>

                    17 of 113

                </td>
<td>F 21-39</td>
<td>

                    6 of 53

                </td>
<td>0:18</td>
<td>29:39</td>
</tr>, <tr data-bib="1152">
<td>53</td>
<td>1152</td>
<td>

                    BERNARD RAHMING

                </td>
<td>M</td>
<td>31</td>
<td>PORTLAND</td>
<td>29:21</td>
<td>9:28</td>
<td>

                    36 of 78

                </td>
<td>M 21-39</td>
<td>

                    17 of 33

                </td>
<td>0:18</td>
<td>29:39</td>
</tr>, <tr data-bib="1095">
<td>54</td>
<td>1095</td>
<td>

                    TROY PICKARD

                </td>
<td>M</td>
<td>36</td>
<td>PORTLAND</td>
<td>29:22</td>
<td>9:28</td>
<td>

                    37 of 78

                </td>
<td>M 21-39</td>
<td>

                    18 of 33

                </td>
<td>0:44</td>
<td>30:06</td>
</tr>, <tr data-bib="1028">
<td>55</td>
<td>1028</td>
<td>

                    JONATHAN TILLMAN

                </td>
<td>M</td>
<td>49</td>
<td>PORTLAND</td>
<td>29:23</td>
<td>9:28</td>
<td>

                    38 of 78

                </td>
<td>M 40-54</td>
<td>

                    13 of 27

                </td>
<td>0:24</td>
<td>29:47</td>
</tr>, <tr data-bib="1174">
<td>56</td>
<td>1174</td>
<td>

                    CYNJAYSHA BOLES

                </td>
<td>F</td>
<td>26</td>
<td>PORTLAND</td>
<td>29:46</td>
<td>9:36</td>
<td>

                    18 of 113

                </td>
<td>F 21-39</td>
<td>

                    7 of 53

                </td>
<td>0:09</td>
<td>29:55</td>
</tr>, <tr data-bib="1013">
<td>57</td>
<td>1013</td>
<td>

                    TERESA MCGRATH

                </td>
<td>F</td>
<td>65</td>
<td>PORTLAND</td>
<td>29:51</td>
<td>9:37</td>
<td>


In [9]:
allrows = soup.find_all("tr")
print(allrows[:5]) # first 5 rows

[<tr colspan="2">
<b>5K:</b>
</tr>, <tr>
<td>Finishers:</td>
<td>191</td>
</tr>, <tr>
<td>Male:</td>
<td>78</td>
</tr>, <tr>
<td>Female:</td>
<td>113</td>
</tr>, <tr class="header">
<th>Place</th>
<th>Bib</th>
<th>Name</th>
<th>Gender</th>
<th>Age</th>
<th>City</th>
<th>Chip Time</th>
<th>Chip Pace</th>
<th>Gender Place</th>
<th>Age Group</th>
<th>Age Group Place</th>
<th>Time to Start</th>
<th>Gun Time</th>
</tr>]

In [10]:
allrows = soup.find_all("tr")
print(allrows[0]) #0th rows

<tr colspan="2">
<b>5K:</b>
</tr>

In [11]:
allrows = soup.find_all("td")
print(allrows[:10])

[<td>Finishers:</td>, <td>191</td>, <td>Male:</td>, <td>78</td>, <td>Female:</td>, <td>113</td>, <td>1</td>, <td>1191</td>, <td>

                    MAX RANDOLPH

                </td>, <td>M</td>]

In [12]:
allrows = soup.find_all("tr")
for row in allrows:
    row_list = row.find_all("td")
print(row_list)

[<td>191</td>, <td>1216</td>, <td>

                    ZULMA OCHOA

                </td>, <td>F</td>, <td>40</td>, <td>GRESHAM</td>, <td>1:43:27</td>, <td>33:22</td>, <td>

                    113 of 113

                </td>, <td>F 40-54</td>, <td>

                    37 of 37

                </td>, <td>0:00</td>, <td>1:43:27</td>]

In [13]:
for cell in row_list:
    print(cell.text)
    #print(cell)

191
1216


                    ZULMA OCHOA


F
40
GRESHAM
1:43:27
33:22


                    113 of 113


F 40-54


                    37 of 37


0:00
1:43:27

In [14]:
data = []
allrows = soup.find_all("tr")
for row in allrows:
    row_list = row.find_all("td")
    dataRow=[]
    for cell in row_list:
        #dataRow.append(cell)
        dataRow.append(cell.text)
    data.append(dataRow)
data = data[4:]
print(data[-2:])

[['190', '2087', '\r\n\r\n                    LEESHA POSEY\r\n\r\n                ', 'F', '43', 'PORTLAND', '1:33:53', '30:17', '\r\n\r\n                    112 of 113\r\n\r\n                ', 'F 40-54', '\r\n\r\n                    36 of 37\r\n\r\n                ', '0:00', '1:33:53'], ['191', '1216', '\r\n\r\n                    ZULMA OCHOA\r\n\r\n                ', 'F', '40', 'GRESHAM', '1:43:27', '33:22', '\r\n\r\n                    113 of 113\r\n\r\n                ', 'F 40-54', '\r\n\r\n                    37 of 37\r\n\r\n                ', '0:00', '1:43:27']]

In [15]:
title =data[0]
title

[]

In [43]:
df = pd.DataFrame(data)
df

       0     1   ...    11       12
0    None  None  ...  None     None
1       1  1191  ...  0:08    16:56
2       2  1080  ...  0:09    17:40
3       3  1275  ...  0:07    18:22
4       4  1223  ...  0:07    18:38
..    ...   ...  ...   ...      ...
187   187  1254  ...  1:19  1:09:10
188   188  1085  ...  0:58  1:09:10
189   189  1170  ...  0:08  1:09:19
190   190  2087  ...  0:00  1:33:53
191   191  1216  ...  0:00  1:43:27

[192 rows x 13 columns]

In [17]:
print(df.head())

     0     1   ...    11     12
0  None  None  ...  None   None
1     1  1191  ...  0:08  16:56
2     2  1080  ...  0:09  17:40
3     3  1275  ...  0:07  18:22
4     4  1223  ...  0:07  18:38

[5 rows x 13 columns]

In [18]:
print(df.tail())

      0     1   ...    11       12
187  187  1254  ...  1:19  1:09:10
188  188  1085  ...  0:58  1:09:10
189  189  1170  ...  0:08  1:09:19
190  190  2087  ...  0:00  1:33:53
191  191  1216  ...  0:00  1:43:27

[5 rows x 13 columns]

In [19]:
df.shape

(192, 13)

In [20]:
col_headers = soup.find_all('th')
col_headers

[<th>Place</th>,
 <th>Bib</th>,
 <th>Name</th>,
 <th>Gender</th>,
 <th>Age</th>,
 <th>City</th>,
 <th>Chip Time</th>,
 <th>Chip Pace</th>,
 <th>Gender Place</th>,
 <th>Age Group</th>,
 <th>Age Group Place</th>,
 <th>Time to Start</th>,
 <th>Gun Time</th>]

In [21]:
header_list = []
col_headers = soup.find_all('th')
for col in col_headers:
    header_list.append(col)
print(header_list)

[<th>Place</th>, <th>Bib</th>, <th>Name</th>, <th>Gender</th>, <th>Age</th>, <th>City</th>, <th>Chip Time</th>, <th>Chip Pace</th>, <th>Gender Place</th>, <th>Age Group</th>, <th>Age Group Place</th>, <th>Time to Start</th>, <th>Gun Time</th>]

In [47]:
columns = pd.DataFrame(header_list)
columns

                  0
0             Place
1               Bib
2              Name
3            Gender
4               Age
5              City
6         Chip Time
7         Chip Pace
8      Gender Place
9         Age Group
10  Age Group Place
11    Time to Start
12         Gun Time

In [42]:
#columns=columns.append([np.nan,np.nan])
#columns

Index([          ('Place',),             ('Bib',),            ('Name',),
                ('Gender',),             ('Age',),            ('City',),
             ('Chip Time',),       ('Chip Pace',),    ('Gender Place',),
             ('Age Group',), ('Age Group Place',),   ('Time to Start',),
              ('Gun Time',)],
      dtype='object')

In [24]:
columns.shape

(13, 1)

In [25]:
df.columns=columns

In [26]:
print(df.head())

  (Place,) (Bib,)  ... (Time to Start,) (Gun Time,)
0     None   None  ...             None        None
1        1   1191  ...             0:08       16:56
2        2   1080  ...             0:09       17:40
3        3   1275  ...             0:07       18:22
4        4   1223  ...             0:07       18:38

[5 rows x 13 columns]

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (Place,)            191 non-null    object
 1   (Bib,)              191 non-null    object
 2   (Name,)             191 non-null    object
 3   (Gender,)           191 non-null    object
 4   (Age,)              191 non-null    object
 5   (City,)             191 non-null    object
 6   (Chip Time,)        191 non-null    object
 7   (Chip Pace,)        191 non-null    object
 8   (Gender Place,)     191 non-null    object
 9   (Age Group,)        191 non-null    object
 10  (Age Group Place,)  191 non-null    object
 11  (Time to Start,)    191 non-null    object
 12  (Gun Time,)         191 non-null    object
dtypes: object(13)
memory usage: 19.6+ KB

In [28]:
df.shape

(192, 13)

In [29]:
df2=df.dropna(how="any")
df2.shape

(191, 13)

In [41]:
df2.head()

  (Place,) (Bib,)  ... (Time to Start,) (Gun Time,)
1        1   1191  ...             0:08       16:56
2        2   1080  ...             0:09       17:40
3        3   1275  ...             0:07       18:22
4        4   1223  ...             0:07       18:38
5        5   1245  ...             0:09       19:40

[5 rows x 13 columns]

In [39]:
df2.columns

Index([          ('Place',),             ('Bib',),            ('Name',),
                ('Gender',),             ('Age',),            ('City',),
             ('Chip Time',),       ('Chip Pace',),    ('Gender Place',),
             ('Age Group',), ('Age Group Place',),   ('Time to Start',),
              ('Gun Time',)],
      dtype='object')

In [45]:
df2['ChipTime_minutes']=pd.to_timedelta(df2["('Chip Time',)"])
df2['ChipTime_minutes']=df2['ChipTime_minutes'].astype('timedelta64[s]')/60
print(df2[['Gender','ChipTime_minutes']].head())
#df2[['ChipTime_minutes']].info()

KeyError: ignored

In [ ]:
plt.bar(df2['Gender'],df2['ChipTime_minutes'])
plt.xlabel('Gender')
plt.ylabel('ChipTime_Minutes')
plt.title("camparision of average minutes run by male and female")

In [ ]:
df2.describe(include=[np.number])

In [ ]:
df2.boxplot(column='ChipTime_Minutes', by='Gender')
plt.ylabel('Run time')

In [ ]:
#age vs chip Time in minutes

df2['Age_i']=(pd.to_numeric(df2['Age'], errors='coerce'))
df2.dropna(how='any', inplace='True')

plt.scatter(df2['ChipTime_miutes'],df2['Age'])
plt.show()